[submodule "dearmachine"]
	path = dearmachine
	url = https://github.com/tursomari/dearmachine.git
[submodule "machtiani-harness"]
	path = machtiani-harness
	url = https://github.com/tursomari/machtiani-harness.git
[submodule "dearmachine-concierge"]
	path = dearmachine-concierge
	url = https://github.com/tursomari/dearmachine-concierge.git
